html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

img {
  width: 100%;
}
.country-box,
.card {
  width: 33%;

  margin-left: auto;
  margin-top: 40px;
  margin-right: auto;
}

.form-control {
  display: inline-block;
}